<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="h2-heading"><span>Ready to Take the Next Step?</span><br> Contact Us Today!</h2>
            <p class="p-heading">Our dedicated team is here to answer your questions and help you find the perfect tutoring solution.</p>
            <ul class="list-unstyled li-space-lg">                        
                <li><i class="fas fa-phone"></i> &nbsp;<a href="tel:00923172111351">+92 317 211 1351</a></li>
                <li><i class="fas fa-envelope"></i> &nbsp;<a href="mailto:lorem@ipsum.com">cerebralabs@proton.me</a></li>
            </ul>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            
            <!-- Contact Form -->
            <form class="contact-form">
                <div class="form-group">
                    <input type="text" class="form-control-input" name="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control-input" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control-input" name="_template" value="table">
                    <input type="hidden" class="form-control-input" name="_captcha" value="false">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control-input" name="_subject" value="Request received from " required>
                </div>
                <div class="form-group">
                    <textarea class="form-control-textarea" name="message" placeholder="Message" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control-submit-button">Submit</button>
                </div>
                <div id="loading-spinner" style="display: none;">
                    <img src="images/spinner-icon.gif" alt="Loading...">
                </div>
            </form>
            <!-- Message Placeholder -->
            <div class="form-message"></div>
            <!-- end of contact form -->

        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of container -->