<div class="container">
    <div class="row">
        <div class="col-lg-6 col-xl-5">
            <div class="text-container">
                <h2><span>Enhance Yourself</h2>
                <p>Connect with us to improve your skills.</p>
        
            </div> <!-- end of text-container -->
        </div> <!-- end of col -->
        <div class="col-lg-6 col-xl-7">
            <div class="image-container">
                <img class="img-fluid" src="images/details-2.svg" alt="alternative">
            </div> <!-- end of image-container -->
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of container -->