<div class="container">
    <div class="row">
        <div class="col-lg-6 col-xl-7">
            <div class="image-container">
                <img class="img-fluid" src="images/details-1.svg" alt="alternative">
            </div> <!-- end of image-container -->
        </div> <!-- end of col -->
        <div class="col-lg-6 col-xl-5">
            <div class="text-container">
                <h2><span>Overcoming Challenges</span><br> Achieving Success</h2>
                <p>Feeling overwhelmed by your studies? Struggling to reach your academic goals? You're not alone. Our expert tutors can help you overcome obstacles and achieve your full potential.</p>
                <p>Limited spots available. Don't miss this opportunity to transform your academic journey.</p>
                <a class="btn-solid-reg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Start Your Journey Today</a>
            </div> <!-- end of text-container -->
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of container -->