<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-container">
                <h4>Join Our Exclusive Learning Community</h4>
                <p class="p-large">Become part of a select group of motivated learners who are committed to achieving their goals. Boost your confidence and unlock your full potential.</p>
            </div> <!-- end of text-container -->
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of container -->