<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="h2-heading">Courses offered by us</h2>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
        <div class="col-lg-12">
            
            <div class="grid">
                <div class="element-item development">
                    <a href="courses.html">
                        <img class="img-fluid" src="images/contentwritng.png" alt="alternative">
                        <p><strong>Content Writing Course</strong> - Write your way to success; Learn, Create and Shine</p>
                    </a>
                </div>
                <div class="element-item development">
                    <a href="article.html">
                        <img class="img-fluid" src="images/psychology.png" alt="alternative">
                        <p><strong>Psychology Workshop</strong> - Curious about human behaviour, seeking self-improvement, or looking to enhance your relationships, this workshop is for you!</p>
                    </a>
                </div>
                <div class="element-item development">
                    <a href="article.html">
                        <img class="img-fluid" src="images/canva.png" alt="alternative">
                        <p><strong>Creative Canva Course</strong> - Learn how to create amazing designs with canva.</p>
                    </a>
                </div>
            </div> <!-- end of grid -->
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of container -->