<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
            <!-- Card -->
            <div class="card">
                <div class="card-icon blue">
                    <span class="far fa-file-alt"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Tailored Learning</h5>
                    <p>We understand that every learner is unique. Our customized approach ensures that you receive the support and guidance you need to thrive.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Initial Assessment</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Customized Learning Plan</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Flexible Teaching Methods</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Regular Progress Reviews</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Interactive Learning Activities</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Feedback and Support</div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
                <div class="card-icon yellow">
                    <span class="fas fa-solar-panel"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Expert Tutors</h5>
                    <p>Our passionate educators are not just teachers; they are mentors dedicated to your success. They know how to make complex concepts simple and engaging!</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Subject Matter Expertise</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Personalized Instruction</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Engaging Teaching Style</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Strong Communication Skills</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Positive Attitude and Patience</div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
                <div class="card-icon red">
                    <span class="fas fa-gift"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Flexible & Convenient</h5>
                    <p>Life is busy! We offer flexible scheduling options to fit your lifestyle, so you can learn at your own pace and on your own terms.Life is busy! We offer flexible scheduling options to fit your lifestyle, so you can learn at your own pace and on your own terms.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Customizable Scheduling</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Short Session Availability</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">On-Demand Support</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Flexible Payment Plans</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check"></i>
                            <div class="flex-grow-1">Regular Availability Updates</div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end of card -->
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of container -->